DOMAIN_NAME=kayee01.com
MONGO_PASSWORD=Kk11221122..
SMTP_USER=noreply@kayee01.com
SMTP_PASSWORD=your_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
JWT_SECRET_KEY=kayee_jwt_secret_2024
STRIPE_KEY=sk_test_
STRIPE_SECRET_KEY=sk_test_
PAYONEER_KEY=temp
PLISIO_API_KEY=temp